.cursor/rules/*

# Claude Code - we beleive engineers are responsible for the code they push no matter how it's generated.
# Therefore, configs specific to their coding practices are their responsibilty to judiciously manage.
.claude/*

