name: Lint

on: pull_request

permissions: read-all

# permissions:
#   actions: read
#   checks: write
#   contents: read
#   pull-requests: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Trunk Check
        uses: trunk-io/trunk-action@v1.1.9
