name: Test

on:
  pull_request: {}
  push:
    branches:
      - main

permissions:
  actions: read
  checks: write
  contents: read
  pull-requests: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Install tools via aqua
        uses: aquaproj/aqua-installer@v3.0.1
        with:
          aqua_version: v2.55.0

      - name: Run BATS tests
        run: bats tests/

      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: tests/
          retention-days: 30
